<div class="container">
    <div class="content">


        <ul>
            <li *ngFor="let result of displayArr; index as i;">
                <p>nr. {{result.id}}</p>
                <p>{{result.name}}</p>
                <img src={{result.spriteUrl}} (error)="handleMissingImage($event)">
                <button (click)="openModal(result)">Details</button>
            </li>
        </ul>
        <app-modal *ngIf="showModal" [selectedPokemon]="selectedPokemon"></app-modal>

    </div>
    <div class="row">
        <button *ngIf="offset != 0" class="pagination backPagination" (click)="offsetChange('lower', 20)">LEFT</button>
        <button class="pagination forwardPagination float-right"  (click)="offsetChange('increase', 20)">RIGHT</button>
    </div>

</div>